.todos {
    min-height: 100vh;
    transition: 1s;
    background-image: url("../../images/img1.png");
    background-size: cover;
}

.todos__white {
    background-image: url("../../images/img4.jpg");
}

.plus__btn {
    color: white;
    transition: 1s;
}

.plus__btn:hover {
    color: white;
    transition: 1s;
}

.todo__form {
    width: 50%;
    margin: 0 auto;
}

.input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.input:focus {
    background-color: transparent;
    color: white;
}

.todo__form .input::placeholder {
    color: gray;
}

.chek__input {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0 0 0 / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.todo__content {
    background-color: #25273E;
    padding: 20px;
    color: #9899b8;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
}

.todo__content:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todos_item {
    max-height: 350px;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.todo__content-white {
    background-color: #E9EBEC;
}

.todo__list {
    padding: 20px 0px;
    border-bottom: 1px solid #9899b8;
}

.todo__comp {
    overflow: hidden;
    position: relative;
    width: 127px;
    display: flex;
    justify-content: flex-end;
}

.comp {
    display: flex;
    position: absolute;
    top: -120%;
    left: 0;
    width: 50%;
    transition: .5s;
}

.comp__hide {
    top: 0 !important;
    transition: .5s;
}

.tasks {
    color: white;
}


.footer {
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .todo__form {
        width: 100% !important;
    }

    .footer {
        justify-content: center;
    }
}

.activebtn {
    color: blue !important;
}